<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Welcome to Quarantine Hero
    </h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 md-2">
    <h4>
      We are all going through stressfull times now that the Corono Virus is spreading within the United States. Some people need help now more then they usually do. This platform is aiming at matching people that need help with people that are willing to help others.
    </h4>
  </div>
</div>


<div>
  <a type="button" class="btn btn-success btn-lg btn-block">Want to help?</a>
</div>
<div class="btn-group btn-block" role="group" aria-label="Basic example">
  <a type="button" class="btn btn-outline-success" href="/help_requests">Take a look at current help requests</a>
  <a type="button" class="btn btn-outline-success" href="/new_help_offer">Create your own help offer</a>

</div>


<div>
  <a type="button" class="btn btn-danger btn-lg btn-block" href="/help_requests">Need help?</a>
</div>
<div class="btn-group btn-block" role="group" aria-label="Basic example">
  <a type="button" class="btn btn-outline-danger" href="/help_offers">Take a look at current help offers</a>
  <a type="button" class="btn btn-outline-danger" href="/new_help_request">Create your own help request</a>

</div>

