
<div class="jumbotron">
  <h1 class="display-4"> Welcome to Quarantine Hero</h1>
  <p class="lead">We are all going through stressfull times now that the Corona Virus is spreading globally and within the United States.
  Some people need help now more then they usually do. This platform is aiming at matching people that need help with people that are willing to help others.</p>
  <hr class="my-4">
  
  <div>
    <a type="button" class="btn btn-primary btn-lg btn-success btn-block" href="/new_help_offer">I want to offer help.
    </a>
  </div>
  <br>
   <div>
    <a type="button" class="btn btn-primary btn-lg btn-info btn-block" href="/new_help_request">I need help.
    </a>
  </div>
  <br>
  <p>Or take a look at current <a href="/help_offers">help offers</a> and <a href="/help_requests">help requests</a> already posted by our users.</p>
</div>



