<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      What is Quarantine Hero?
    </h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 md-2">
    <h4>
      We are all going through stressfull times now that the Corono Virus is spreading within the United States. Some people need help now more then they usually do. This platform is aiming at matching people that need help with people that are willing to help others.
    </h4>
  </div>
</div>


<div>
  <button type="button" class="btn btn-success btn-lg btn-block">Want to help?</button>
</div>


<div>
  <button type="button" class="btn btn-danger btn-lg btn-block">Need help?</button>
</div>